<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Fiszki do nauki Javy!</h1>
    <p>Dodaj nową fiszkę.</p>
</div>

    <div class="flashcardBox" id="flashcard">
        <form>
            <label for="fname">Question:</label><br>
            <textarea type="text" id="fname" name="fname"></textarea><br>
            <label for="fcontent">Answer:</label><br>
            <textarea type="text" id="fcontent" name="fcontent"></textarea>
        </form>
    </div>
    <div id="checkboxes">

    </div>
    <button id="addFlashcardBtn">Dodaj fiszke</button>
    <script src="../static/add_flashcard.js"></script>
</body>
</html>