<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Fiszki do nauki Javy!</h1>
        <p>Najedź kursorem na fiszkę żeby zobaczyć odpowiedź.</p>
    </div>
    <div class="container">
        <div class="example">
        </div>
    </div>
    </div>

    <div class="categoryBox">
        <select name="category_select" id="categories">
        </select>
    </div>

    <div class="flashcardsBox" id="flashcards">

    </div>
    <a href="/add_flashcard"> <button>Redirect</button> </a>
    <script src="../static/flashcards.js"></script>
</body>
</html>